<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity-alias
            android:name=".Uppercase"
            android:targetActivity=".ProcessTextActivity"
            android:exported="true"
            android:icon="@drawable/ic_surface"
            android:label="@string/task_uppercase">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
